html,body {
  height: 100%;
}

.node { font-family: "Kotta One"; }
.ui-widget { 
  font-family: Arial, Helvetica, Verdana, sans-serif; 
  font-size: 0.9em; 
}


#editor {
  border: 3px solid black;
  min-width: 600px;
  margin: 20px 20px 20px 20px;
  height: 500px;
}

#editor table {
  height: 100%; 
}

#editor table .ui-split div.ui-pane {
  height: 100%;
  padding: 0px 10px 0px 0px;
}

#editor table .ui-resizable-handle {
  z-index: 10;
  width: 15px;
  height: 100%;
  background: #888;

}

#editor table td {
  vertical-align: top;
}

#concept-tree {
  height: 100%;
  overflow: auto;
  white-space: nowrap;
}

#content-editor {
  min-width: 600px;
  height: 400px;
}

#concept-content textarea {
  width: 100%;
  height: 100%;
  font-family: 12pt;
  font-family: "Consolas",monospace,"New Courier";
}

#concept-content .content textarea {
  background: #000;
  color: #ff0;
}
#concept-content .metadata textarea {
  background: #222;
  color: #fff;
}

.node {
  margin-top: 5px;
  margin-left: 5px;
  max-width: 500px;
  -webkit-user-select: none;
}
.node.collapsed  > .container .main {
  box-shadow: 5px 5px 5px #ff0;
}
.node .container .main {
  max-width: 450px;
}
.container .name .display {
  text-decoration: underline;
}
.container p {
  margin: 5px 0 0 0;
}
.container .main {
  display: inline-block;
  border: thin solid #aaa;
  border-radius: 3px;
  margin-right: 0px;
  padding-bottom: 10px;
}

.node .v-controls { display: none; }
.node .controls   { display: none; }

.node.focused > .container .v-controls {
  width: 20px;
  background: #000;
  vertical-align: top;
  display: inline-block;
  margin-left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.node.focused > .container .controls {
  font-size: 11px;
  font-family: monospace, "Courier New";
  font-weight: bold;
  text-align: right;
  margin-top: -10px;
  background: #000;
  display: block;
  color: #ddd;
}
.container .controls a {
  color: #fff;
  text-decoration: none;
}
