.node { font-family: "Kotta One"; }

#editor {
  border: 3px solid black;
  min-width: 600px;
  min-height: 300px;
  margin: 20px 20px 20px 20px;
}

#editor table {
  height: 100%; 
}

#editor table .ui-split div.ui-pane {
  height: 100%;
  padding: 0px 10px 0px 0px;
}

#editor table .ui-resizable-handle.ui-resizable-e {
  width: 15px;
  height: 100%;
  background: #888;
}

.node {
  margin-top: 5px;
  margin-left: 5px;
}
.container .edit {
  display: none;
}

.container .name .display {
  text-decoration: underline;
}
.container p {
  margin: 5px 0 0 0;
}
.container .controls {
  font-size: 9pt;
  font-family: monospace, "Courier New";
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  text-align: right;
}
.container .main {
  display: inline-block;
}

.container .controls a {
  color: #aaa;
  text-decoration: none;
}
