div.n-content {
  font-family: monospace;
  padding: 10px 10px 10px 10px;
  border: thin solid black;
  width: 99px;
  height: 99px;
  float: left;
  margin: 5px 0px 0 0px;
}
div.n-children {
  float: left;
}
div.n-children .n-child {
  clear: both;
}
div.n-children .n-child .n-connector {
  float: left;
}
div.n-children .n-child .n-container {
  float: left;
}
