div.n-content {
  font-family: monospace;
  padding: 10px 10px 10px 10px;
  border: thin solid black;
  width: 99px;
  height: 99px;
  float: left;
}
div.n-children {
  float: left;
}
div.n-children .n-child {
}
div.n-children .n-child .n-connector {
}
div.n-children .n-child .n-container {
}
