.content {
  margin: 15px 15px 15px 15px;
  font-family: sans-serif;
  font-size: 14pt;
  background: #fff;
  -webkit-user-select: none;
  -webkit-transform: scale(1);
  -webkit-transition: all 1s ease 0s;
}
.children {
  margin-left: 20px;
}
.child .node.focus-mode > .content {
  -webkit-transform: scale(1.2);
  -webkit-transition: all 1s ease 0s;
  box-shadow: 10px 10px 5px #888;
}
.child .node.focus-mode .children {
  border-color: #f00;
}
.child .node.closed > .content {
  box-shadow: 10px 10px 5px #ffa;
}
.content .name { 
  font-family: sans-serif;
  font-size: 16pt;
  font-weight: bold;
}
.content .description {
  font-family: "Kotta One";
  font-size: 12pt;
  max-width: 600px;
}
.content .name input {}
.content .description textarea {}

.content .control {
  margin-top: 5px;
  padding-left: 20px;
}
.content .control span {
  background: #555;
  color: #fff;
  border-radius: 5px;
  font-size: 8px;
  font-family: sans-serif;
  font-weight: bold;
}

/* Experimental Styling */

div.authoring textarea {
  float: left;
  width: 300px;
  font-size: 9pt;
  font-family: monospace, "Courier New";
  padding: 5px 5px 5px 5px;
  border: none;
  background: #000;
  color: #ff0;
}
div.authoring textarea.markdown {
  margin-right: 10px;
}
