/* JQuery UI font */

.ui-widget { font-size: 12px; }


/* Edit Tree */

.content {
  font-family: sans-serif;
  font-size: 14pt;
  background: #fff;
  -webkit-user-select: none;
  -webkit-transform: scale(1);
}
.child .node.focus-mode > .content {
  -webkit-transform: scale(1.1);
  box-shadow: 10px 10px 5px #888;
  background: #ffe;
}
.child .node.edit-mode > .content {
  -webkit-transform: scale(1);
}
.child .node.focus-mode .children {
  border-color: #f00;
}
.child .node.closed > .content {
  box-shadow: 10px 10px 5px #ffa;
}
.content .name { 
  font-family: sans-serif;
  font-size: 16pt;
  font-weight: bold;
}
.content .description {
  font-family: "Kotta One";
  font-size: 12pt;
  max-width: 600px;
}
.content .name input {}
.content .description textarea {}

.content .control {
  margin-top: 5px;
  padding-left: 20px;
}
.content .control span {
  background: #555;
  color: #fff;
  border-radius: 5px;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 5px;
}

/* Tree layouts */
.indented-tree .content { margin: 15px 15px 15px 15px; }
.box-tree      .content { margin: 0 0 0 0; 
                          min-width: 200px;
                        }
.indented-tree .children { margin-left: 20px; }
.box-tree      .children { margin: 0 0 0 0; }


div.authoring textarea {
  width: 350px;
  height: 500px;
  font-size: 9pt;
  font-family: monospace, "Courier New";
  padding: 5px 5px 5px 5px;
  border: none;
}
div.authoring textarea.markdown {
  margin-right: 10px;
  background: #000;
  color: #ff0;
}
div.authoring textarea.styling {
  background: #330;
  color: #fff;
}

.name-edit {
  margin-bottom: 5px;
}
.name-edit input {
  width: 100%;
  border: thin solid blue;
  color: #00f;
  font-family: monospace, "Courier New";
  font-weight: bold;
  font-size: 11pt;
}
.description-edit textarea {
  width: 200px;
  height: 50px;
  color: #333;
  font-family: monospace, "Courier New";
  font-size: 9t;
}
